APP_NAME=CloudSat Lite API
APP_ENV=development
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
MODEL_WEIGHTS_PATH=models/cloud_attention_classifier_final.weights.h5
MODEL_THRESHOLD=0.5
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast
GIBS_WMS_EPSG4326=https://gibs.earthdata.nasa.gov/wms/epsg4326/best/wms.cgi
